In [20]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans

In [21]:
# load csv
crypto_df = pd.read_csv('Resources/crypto_data.csv')
crypto_df.head()

,Unnamed: 0,CoinName,Algorithm,IsTrading,ProofType,TotalCoinsMined,TotalCoinSupply
0,42,42 Coin,Scrypt,True,PoW/PoS,4.199995e+01,42
1,365,365Coin,X11,True,PoW/PoS,NaN,2300000000
2,404,404Coin,Scrypt,True,PoW/PoS,1.055185e+09,532000000
3,611,SixEleven,SHA-256,True,PoW,NaN,611000
4,808,808,SHA-256,True,PoW/PoS,0.000000e+00,0

In [22]:
crypto_df.shape

(1252, 7)

In [23]:
#filter currurnecies that currently being traded
crypto_df= crypto_df[crypto_df['IsTrading']==True]
crypto_df.head()

,Unnamed: 0,CoinName,Algorithm,IsTrading,ProofType,TotalCoinsMined,TotalCoinSupply
0,42,42 Coin,Scrypt,True,PoW/PoS,4.199995e+01,42
1,365,365Coin,X11,True,PoW/PoS,NaN,2300000000
2,404,404Coin,Scrypt,True,PoW/PoS,1.055185e+09,532000000
3,611,SixEleven,SHA-256,True,PoW,NaN,611000
4,808,808,SHA-256,True,PoW/PoS,0.000000e+00,0

In [24]:
#drop column 'IsTrading' and Unnamed:0
crypto_df = crypto_df.drop(columns = ['IsTrading','Unnamed: 0'])

In [25]:
#check null values and drop null containing rows
crypto_df.isnull().sum()

crypto_df = crypto_df.dropna()

In [26]:
#check null values
crypto_df.isnull().sum()

CoinName           0
Algorithm          0
ProofType          0
TotalCoinsMined    0
TotalCoinSupply    0
dtype: int64

In [27]:
#filter cryptocurrencies that have been mined, crypto mined > 0
crypto_df = crypto_df[crypto_df['TotalCoinsMined']>0]
crypto_df.head()

    CoinName Algorithm ProofType  TotalCoinsMined TotalCoinSupply
0    42 Coin    Scrypt   PoW/PoS     4.199995e+01              42
2    404Coin    Scrypt   PoW/PoS     1.055185e+09       532000000
5  EliteCoin       X13   PoW/PoS     2.927942e+10    314159265359
7    Bitcoin   SHA-256       PoW     1.792718e+07        21000000
8   Ethereum    Ethash       PoW     1.076842e+08               0

In [28]:
coin = pd.DataFrame(crypto_df['CoinName']).reset_index(drop = True)
coin

        CoinName
0        42 Coin
1        404Coin
2      EliteCoin
3        Bitcoin
4       Ethereum
..           ...
527       ZEPHYR
528      Gapcoin
529       Beldex
530      Horizen
531  BitcoinPlus

[532 rows x 1 columns]

In [29]:
#removed column CoinName
crypto_df = crypto_df.drop(columns = 'CoinName')

In [30]:
crypto_df.head()

  Algorithm ProofType  TotalCoinsMined TotalCoinSupply
0    Scrypt   PoW/PoS     4.199995e+01              42
2    Scrypt   PoW/PoS     1.055185e+09       532000000
5       X13   PoW/PoS     2.927942e+10    314159265359
7   SHA-256       PoW     1.792718e+07        21000000
8    Ethash       PoW     1.076842e+08               0

In [31]:
#convert data to numerical data

X = pd.get_dummies(crypto_df, columns = ['Algorithm','ProofType'])
X

,TotalCoinsMined,TotalCoinSupply,Algorithm_1GB AES Pattern Search,Algorithm_536,Algorithm_Argon2d,Algorithm_BLAKE256,Algorithm_Blake,Algorithm_Blake2S,Algorithm_Blake2b,Algorithm_C11,...,ProofType_PoW/PoS,ProofType_PoW/PoS,ProofType_PoW/PoW,ProofType_PoW/nPoS,ProofType_Pos,ProofType_Proof of Authority,ProofType_Proof of Trust,ProofType_TPoS,ProofType_Zero-Knowledge Proof,ProofType_dPoW/PoW
0,4.199995e+01,42,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1.055185e+09,532000000,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5,2.927942e+10,314159265359,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,1.792718e+07,21000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1.076842e+08,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,2.000000e+09,2000000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1242,1.493105e+07,250000000,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1245,9.802226e+08,1400222610,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246,7.296538e+06,21000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1247,1.283270e+05,1000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
#standardize data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)